<nav class="navbar navbar-expand-sm navbar-light">
    <a class="navbar-brand" href="{% url 'index' %}"> <i class="fas fa-school fa-sm  "></i> </a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'all_members' %}">Members</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'courses_all' %}">Courses</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'news' %}">News</a>
            </li>
        </ul>
    </div>
</nav>
